.head{
    color: darkblue;
    }

#bglime{
    background-color: aqua;
}
.head2{
    color: red;
    background:none;
}
p{
    color: orange;
}
#para{
    color: green;
    font-size:25px ;
}
.paragraph{
    color: black;
}
mark{
    color: blue;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
}